{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'core/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/profile.css' %}">
  
  <style>
    label {
      display: none !important;
    }
  </style>  
</head>
<body>

<div class="navbar">
    <div class="navbar-left">
        <a href="{% url 'main' %}"><span class="brand-text">FitTrack</span></a>
    </div>

    <div class="navbar-right">
        <a href="{% url 'recipes' %}"><button>Recipes</button></a>
        <a href="{% url 'statistics' %}"><button>Statistics</button></a>
        <a href="{% url 'history' %}"><button>History</button></a>
        <a href="{% url 'profile' %}"><button>Profile</button></a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="logout-btn">Logout</button></a>
        {% endif %}
    </div>
</div>

<div class="panel-container">
  <div class="panel left-panel">
    <div class="profile">
      <!--panel profil-->
            <h2>My profile</h2>
            <div class="profile-info">
            <p>Username:</p>
            <input type="text" name="username" placeholder="username" value="{{ user.username }}">

            <p>First and Last Name:</p>
            <input type="text" name="first_name" placeholder="first name" value="{{ user.first_name }}">
            <input type="text" name="last_name" placeholder="last name" value="{{ user.last_name }}">
            
            <p>Płeć:</p>
            <select name="gender">
                <option value="male" {% if user.gender == 'male' %}selected{% endif %}>Male</option>
                <option value="female" {% if user.gender == 'female' %}selected{% endif %}>Female</option>
                <option value="other" {% if user.gender == 'other' %}selected{% endif %}>Other</option>
            </select>

            <p>Wzrost:</p>
            <input type="number" name="height" value="{{ user.height }}"> cm

            <p>Waga:</p>
            <input type="number" name="weight" value="{{ user.weight }}"> kg
            </div>

            <div class="buttons-wrapper">
            <a href="{% url 'profile' %}" class="button cancel-button">Cancel</a>
            <button class="button">Save</button> <!--TEN PRZYCISK NIE DZIAŁA-->
            </div>
    </div>
  </div>

  <div class="panel right-panel">
    <!--panel goals-->
    <div class="profile">
            <h2>Goals</h2>
            <div class="goals-info"></div>
            <p>Goal weight:</p><e>{{ user.goal_weight }} kg</e>
            <p>Caloric intake:</p><e>{{ user.caloric_intake }}kcal</e>
            <p>Macro limits:</p>
            <div class="macronutrient">
            <e>Protein: {{ user.protein_intake }} g</e><e>Fat: {{ user.fat_intake }} g</e><e>Carbs: {{ user.carbs_intake }} g</e>
            </div>
            </div>

    </div>
  </div>
</div>



</body>
</html>