{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{% static 'core/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
</head>
<body>
    <div class="navbar">
    <div class="navbar-left">
        <a href="{% url 'main' %}"><span class="brand-text">FitTrack</span></a>
    </div>

    <div class="navbar-right">
        <a href="{% url 'recipes' %}"><button>Recipes</button></a>
        <a href="{% url 'statistics' %}"><button>Statistics</button></a>
        <a href="{% url 'history' %}"><button>History</button></a>
        <a href="{% url 'profile' %}"><button>Profile</button></a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="logout-btn">Logout</button></a>
        {% endif %}
    </div>
</div>

    <div class="container">
        <!-- Pierwszy panel -->
        <div class="panel">
            <h2 class="summary-title">Daily summary</h2>
            <p class="calories-text">420/2137 kcal</p>
            <div class="progress-row">
                <progress class="main-progress" value="420" max="2137"></progress>

                <div class="progress-container">
                    <progress class="small-progress" value="40" max="100"></progress>
                    <progress class="small-progress" value="60" max="100"></progress>
                    <progress class="small-progress" value="80" max="100"></progress>
                </div>
            </div>
            <p class="rem-text">Remaining calories: 1717</p>
        </div>
        
        <!-- Drugi panel (z większą szerokością) -->
        <div class="panel second-panel">
            <h2 class="summary-title">Add meal</h2>
            <form action="#" method="post">
                {% csrf_token %}
                <input type="text" class="meal-input" placeholder="Meal name" name="meal-name">

                <input type="number" class="meal-input" placeholder="Calories" name="calories">
                <input type="date" class="meal-input" name="date" id="meal-date">
        
                <!-- Rozwijane menu wyboru rodzaju posiłku -->
                <select class="meal-select" name="meal-type">
                    <option value="" disabled selected>Select meal type</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                    <option value="snack">Supper</option>
                    <option value="snack">UNSTOPPABLE MIDNIGHT SWEETS CRAVE</option>
                </select>

                <!-- Pola dla wartości makroskładników -->
                <div class="macro-container">
                    <input type="number" class="macro-input" placeholder="Protein (g)" name="protein">
                    <input type="number" class="macro-input" placeholder="Fats (g)" name="fat">
                    <input type="number" class="macro-input" placeholder="Carbs (g)" name="carbs">
                </div>

                <button type="submit" class="add-meal-btn">Add</button>
            </form>
        </div>

        <div class="panel third-panel"> 
            <h2 class="summary-title">Today's meals</h2>
        </div>
        
    </div>

    <!-- aktualizacja daty do aktualnej w formularzu dodania posiłku -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dateInput = document.getElementById("meal-date");
            const today = new Date().toISOString().split('T')[0];
            dateInput.value = today;
        });
    </script>
    
</body>
</html>