.summary-title {
    margin-top: -5px; 
}

/*panel*/
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px; /* Przesuwa panele o 40px poniżej navbaru */
}

.panel {
    width: 80%;          /* Szerokość pierwszego panelu */
    max-width: 3000px;
    height: 200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px auto; /* Odstęp między panelami */
    font-size: 20px;
    position: relative;
}

.panel.second-panel {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.panel-title {
    position: absolute;
    top: 15px; /* Ustawia tytuł wyżej */
    font-size: 24px;
    font-weight: bold;
}

/* Stylizacja formularza */
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    align-items: center;
    margin-top: -20px;
}

.meal-input, .meal-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
}

.meal-select {
    background-color: #fff;
    cursor: pointer;
}

/* Makroskładniki w jednej linii */
.macro-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.macro-input {
    width: calc(33.3% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
}

/* Stylizacja przycisku dodawania posiłku */
.add-meal-btn {
    width: 100%;
    padding: 12px;
    background-color: #e30b21;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.add-meal-btn:hover {
    background-color: #c0091d;
}

.panel.third-panel {
    width: 80%;            /* Szerokość trzeciego panelu */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px auto;
    text-align: center;
    /* Bez ustawiania wysokości - to pozwala panelowi rosnąć */
    min-height: 50px;      /* Minimalna wysokość dla trzeciego panelu */
}




/* Kontener w jednej linii */
.progress-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; /* odstęp między dużym a małymi paskami */
}

/*progress bar*/
.main-progress {
    width: 300px;
    height: 50px;
    appearance: none;
    margin-top: 10px;
}

.main-progress::-webkit-progress-bar {
    background-color: #f8a898;
    border-radius: 30px;
}

.main-progress::-webkit-progress-value {
    background-color: #e30b21;
    border-radius: 30px;
}


.progress-container {
    display: flex;
    margin-right: 190px;
    gap: 180px;
}

.small-progress {
    width: 150px; /* Możesz dostosować szerokość pasków */
    height: 40px;
    margin-top: 10px;
    appearance: none;
    display: inline-block; /* Ustawienie pasków obok siebie */
    
}

.small-progress::-webkit-progress-bar {
    background-color: #f8a898;  /* Tło pasków */
    border-radius: 25px;
}

.small-progress::-webkit-progress-value {
    background-color: #e30b21;  /* Kolor wypełnienia pasków */
    border-radius: 25px;
}




.calories-text {
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #333;
    font-size: 25px;
}
.rem-text {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #646464;
}